html {
    font-family: "Georgia", "Cambria", "Times New Roman", serif;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.image {
    max-width: 100%;
}

figcaption {
    text-align: center;
}

.content p,
ul,
ol {
    margin: 60px 0;
}
